<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Learning Hub</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
	rel="stylesheet">

</head>
<body>


	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark primary-color">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="#">Learn Hub</a>


		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#basicExampleNav" aria-controls="basicExampleNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">

			<!-- Links -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/courses/add}">Add Course </a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/feedbacks/list}">Feedbacks</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/contacts/list}">Contacts</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/users/list}">Users</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log
						out</a></li>
			</ul>
			<!-- Links -->
		</div>
		<!-- Collapsible content -->
	</nav>
	<!--/.Navbar-->

	<div class="container">
		<div class="text-center mt-3">
			<h1>Courses on Platform</h1>
		</div>


		<div class="d-flex flex-row">
			<div th:each="course: ${courses}">
				<!-- Card -->
				<div class="card m-2" style="max-width: 300px">

					<!-- Card image -->
					<div class="view overlay">
						<img class="card-img-top"
							src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
							alt="Card image cap"> <a href="#!">
							<div class="mask rgba-white-slight"></div>
						</a>
					</div>

					<!-- Card content -->
					<div class="card-body">

						<!-- Title -->
						<h4 class="card-title" th:text="${course.courseName}"></h4>
						<!-- Text -->
						<p class="card-text" th:text="${course.courseDescription}"></p>
						<!-- Button -->
						<a href="#" class="btn btn-primary">Edit</a>

					</div>

				</div>
				<!-- Card -->
			</div>
		</div>

	</div>


	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter- bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h1>Admin Dashboard</h1> -->

<!-- 	<div> -->
<!-- 		<a th:href="@{/admin/courses/add}">Add Course</a><br /> -->
<!-- 		<a th:href="@{/courses}">View Course</a><br /> -->
<!-- 		<br /> -->
<!-- 		<a th:href="@{/admin/users/list}">Users List</a> <br /> -->
<!-- 		<a th:href="@{/admin/feedbacks/list}">Feedback</a> <br /> -->
<!-- 		<a th:href="@{/admin/contacts/list}">Contact</a> -->

<!-- 	</div> -->
<!-- 	<br /> -->




<!-- 	<form name="logoutForm" th:action="@{/logout}" method="POST"> -->
<!-- 		<button type="submit">Sign out</button> -->
<!-- 	</form> -->
<!-- </body> -->
<!-- </html> -->