<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Learning Hub</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
	rel="stylesheet">

</head>
<body>

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark primary-color">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="#">Learn Hub</a>


		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#basicExampleNav" aria-controls="basicExampleNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">

			<!-- Links -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/dashboard}">Dashboard </a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/courses/add}">Add Course </a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/feedbacks/list}">Feedbacks</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/contacts/list}">Contacts</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/users/list}">Users</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log
						out</a></li>
			</ul>
			<!-- Links -->
		</div>
		<!-- Collapsible content -->
	</nav>
	<!--/.Navbar-->

	<div class="container">
		<div class="text-center my-5">
			<h1>Add new Course</h1>
		</div>

		<div class="text-center " style="padding: 0px 300px">

			<form class="text-center border border-light p-5"
				th:action="@{/admin/courses/add}" th:object="${course}"
				method="POST">

				<div class="form-row mb-4">
					<div class="col">
						<!-- First name -->
						<div class="md-form">
							<input type="text" th:field="*{courseName}"
								id="materialRegisterFormFirstName" class="form-control" required>
							<label for="materialRegisterFormFirstName">Course Title</label>
						</div>
					</div>
				</div>
				<div class="form-row mb-4">
					<div class="col">
						<div class="md-form">
							<textarea id="form10" class="md-textarea form-control"
								th:field="*{courseDescription}" rows="3"></textarea>
							<label for="form10">Course Description</label>
						</div>
					</div>
				</div>


				<!-- Sign up button -->
				<button class="btn btn-info my-4 btn-block" type="submit">Add</button>

				<hr>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter- bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h1>Add New Course</h1> -->

<!-- 	<div> -->
<!-- 		<form th:action="@{/admin/courses/add}" th:object="${course}" method="POST"> -->
<!-- 			<div> -->
<!-- 				<label for="courseName">First Name</label>  -->
<!-- 				<input type="text" name="courseName" th:field="*{courseName}" /> -->
<!-- 			</div> -->

<!-- 			<div> -->
<!-- 				<label for="courseDescription">Last Name</label> -->
<!-- 				<textarea name="courseDescription"  -->
<!-- 						th:field="*{courseDescription}" row=5 cols=20> -->
<!-- 				</textarea>	 -->
<!-- 			</div> -->

<!-- 			<button type="submit">Submit</button> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->